

#entrada_stock .title {
	width: 100%;
	font-size: 22px;
	margin: 10px 0 10px 0;
	font-weight: bold;
	color: #333333;
}

#entrada_stock .inner-content {
    float: left;
    margin:20px 0 0 0;
    width: 100%;
}