.left {

}

.left a {
    margin: 20px auto 20px auto;
    float: left;
}


.left a:hover {
    opacity:0.5;
    filter:alpha(opacity=50);
}

.left a img {
    margin: 0 0 0 50px;
}

.inner-content.new_article {

}

.box_new_article {
    background-color: #F5F5F5;
    border-color: #F2F2F2 #F2F2F2 #E2E2E2;
    border-style: solid;
    border-width: 1px;
    float: left;
    margin: 50px 10px 10px 100px;
    /*min-height: 103px;*/
    /*padding: 12px;*/
    width: 450px;
}

.box_new_article .title {
    border-bottom: 1px solid #F2F2F2;
    float: left;
    width: 100%;
    height: 35px;
    background-color: #DDDDDD;
    color: #FFFFFF;
    font-weight: bold;
    text-align: center;
    font-size: 26px;
}

.box_new_article form {

}

.box_new_article form .image_top {
    float: left;
    margin: 20px 20px 0 0;
    height: 140px;
}

.box_new_article form .image_top img {
    float: left;
}



.box_new_article form .image_top .code {
    float:left;
    width: 200px;
}

.box_new_article form .image_top .code label {
    width: 100%;
    text-transform:uppercase;
    font-size: 12px;
}

.box_new_article form .image_top .code input {
    width: 200px;
    border: 1px solid #8c8a8a;
    margin: 5px 0 0 0;
    color: #a29b9b;
}



.box_new_article form .image_top .name {
    float: left;
    width: 200px;
    margin: 20px 0 0 0;
}

.box_new_article form .image_top .name label {
    width: 100%;
    text-transform:uppercase;
    font-size: 12px;
}

.box_new_article form .image_top .name input {
    width: 200px;
    border: 1px solid #8c8a8a;
    margin: 5px 0 0 0;
    color: #a29b9b;
}



.inner-content .box_new_article form .bottom .description {
    float: left;
    margin: 20px 0 20px 20px;
    width: 100%;
}

.inner-content .box_new_article form .bottom .description label {
    width: 100%;
    text-transform:uppercase;
    font-size: 12px;
}

.inner-content .box_new_article form .bottom .description textarea {
    width: 380px;
    border: 1px solid #8c8a8a;
    margin: 10px 0 0 0;
    color: #a29b9b;
}



.inner-content .box_new_article form .bottom .reference {
    float: left;
    width: 100%;
    margin: 0 0 0 20px;
}

.inner-content .box_new_article form .bottom .reference label {
    width: 100%;
    text-transform:uppercase;
    font-size: 12px;
    float: left;
}

.inner-content .box_new_article form .bottom .reference input {
    width: 380px;
    border: 1px solid #8c8a8a;
    margin: 10px 0 0 0;
    color: #a29b9b;
}



.box_new_article form .bottom .heading {
    float: left;
    width: 100%;
    margin: 20px 0 0 20px;
}

.box_new_article form .bottom .heading label {
    width: 100%;
    text-transform:uppercase;
    font-size: 12px;
    float: left;
}

.box_new_article form .bottom .heading select {
    width: 380px;
    border: 1px solid #8c8a8a;
    margin: 10px 0 0 0;
    color: #a29b9b;
}

.box_new_article form .agregar {  /*BOTON AGREGAR*/
    font-size: 11px;
    width: 100px;
    float: right;
    margin: 40px 50px 20px 0;
}









/**/
/**/
/*LIST ARTICLES*/
/**/
/**/

.inner-content.list_article {

}



table#kurosawa {
    background-image:url(seven-samurai.jpg);
    background-size: cover;
    border-collapse: collapse;
    min-width: 800px;
    margin: 50px 0 0 50px;
    float: left;
}

table#kurosawa caption {
    font-size: larger;
}

table#kurosawa td {
    padding: .5em;
}

table#kurosawa thead tr {
    background: #000;
    color: #fff;
}


table#kurosawa tbody tr {
    font-size: 12px;
}

table#kurosawa tbody tr:nth-child(odd) {
    background: rgba(0,0,0,0.3);
    font-size: 12px;
}


table#kurosawa tbody tr:hover {
    background: rgba(0,0,0,0.8);
    color: #fff; cursor: pointer;
}

table#kurosawa tbody tr td.actions {
    /*margin: 0 0 0 30px;*/
    float: left;
}

table#kurosawa tbody tr td.actions a img.edit,
table#kurosawa tbody tr td.actions a img.del,
table#kurosawa tbody tr td.actions a img.view {
    margin: 0 10px 0 10px;
    float: left;
}

table#kurosawa tbody tr td.actions a:hover {
    opacity:0.3;
    filter:alpha(opacity=30);
}















